################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BackEndApi/.vs
/BackEndApi/BackEndApi/bin
/BackEndApi/BackEndApi/obj
